<div class="container">
  <div class="row">
    <div class="col-md-4"
    <div class="card" style="width: 18rem;">
      <% lists.forEach((list) => { %>
        <h3 class="card-header"><%= list.country %></h3>
        <img class="card-img-top" src="<%= list.image %>" alt="Card image cap">
        <div class="card-body">
        <p class="card-text">Year adopted: <%= list.adopted %></p>
        </div>
        <ul class="list-group list-group-flush">
        <li class="list-group-item">Flag notes: <%= list.listNote %></li>
        <li class="list-group-item">Historical notes: <%= list.countryNote %></li>
        </ul>
        <div class="card-body">
        <a href="/lists/<%= list.id %>" class="btn btn-primary">Show card</a>
        </div>
        <% }); %>
      </div>
    </div>
  </div>
</div>
