<div class="row">
  <div class="col-12 new-list-container">
    <h1>Make a new list</h1>
    <form class="form-inline"  method="POST" action="/lists">
      <div class="form-group mb-12">
        <label for="name">Name</label>
        <input class="form-control input-lg" type="text" name="name" id="name">
      </div>
      <button type="submit" class="btn btn-primary mb-10">Create List</button>
    </form>
  </div>
</div>
<div class="container">
  <h2>My Lists</h2>
  <div class="row">
    <% lists.forEach(list => { %>
      <div class="col-4">
        <div class="card">
          <h3 class="card-header"><%= list.name %>
            <a href="/lists/<%= list.id %>" class="btn btn-primary"><i class="fa fa-eye" aria-hidden="true"></i> see list</a>
          </h3>
          <div class="card-body">
            <p class="card-text">Gifts in list: <%= list.gifts.length %></p>
          </div>
          <div class="card-footer">
            <a href="/lists/<%= list.id %>/gifts/new" class="btn btn-primary"><i class="fa fa-plus" aria-hidden="true"></i>   gift</a>
            <form method="POST" action="/lists/<%= list.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <button class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i>   list</button>
            </form>
          </div>
        </div>
      </div>
    <% }); %>
  </div>
</div>
