


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <h3 class="card-header"><%= list.name %></h3>
        <% list.gifts.forEach(gift => { %>
          <div class="card-body"
          <h4><%= gift.name %></h4>
          <a href="/lists/<%= list.id %>/gifts/<%= gift.id %>" class="btn btn-primary">see gift</a>
          <a href="/lists/<%= list.id %>/gifts/<%= gift.id %>/edit" class="btn btn-primary">edit gift</a>
          </div>




          <% }) %>
          <div class="card-body">
            <a href="/lists/<%= list.id %>/gifts/new" class="btn btn-primary">add gift</a>
            <a href="/lists" class="btn btn-primary">back to lists</a>
            <a href="/lists/<%= list.id %>/edit" class="btn btn-primary">rename list</a>
          </div>
        </div>
      </div>
    </div>
