<div class="container"
<div class="row">
<div class="col-4">
  <br>
  <h3><%= list.name %> list</h3>
</div>
<br>
  <div class="col-12 new-list-container">
    <a href="/lists" class="btn btn-outline-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> to lists</a>
    <br>
    <br>
    <% if(locals.isLoggedIn && list.belongsTo(user)) { %>
      <a href="/lists/<%= list.id %>/edit" class="btn btn-outline-secondary"><i class="fa fa-pencil" aria-hidden="true"></i> rename list</a>
      <a href="/lists/<%= list.id %>/gifts/new" class="btn btn-outline-success"><i class="fa fa-plus" aria-hidden="true"></i> a gift</a>
      <br>
      <br>
      <% }  %>
  </div>
</div>


  <div class="container">
    <div class="row">
      <% list.gifts.forEach(gift => { %>
        <div class="col-md-4">
          <div class="card">
            <h3 class="card-header"><%= gift.name %></h3>
            <br>
              <a href="/lists/<%= list.id %>/gifts/<%= gift.id %>" class="btn btn-outline-primary"><i class="fa fa-eye" aria-hidden="true"></i> see gift</a>
              <br>
            </h3>
            <div class="card-footer">
            <% if(locals.isLoggedIn && list.belongsTo(user)) { %>

              <form method="POST" action="/lists/<%= list.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button class="btn btn-outline-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  delete gift</button>
              </form>
              <% }  %>

            </div>
          </div>
        </div>
      <% }) %>
    </div>
  </div>
