<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <h3 class="card-header"><%= list.name %></h3>

        <h4 class="card-header"><%= list.createdBy.username %></h4>
        <% list.gifts.forEach(gift => { %>
          <h4>For: <%= gift.name %></h4>
          <h4>Age: <%= gift.age %></h4>
          <h4>Interests: <%= gift.interests %></h4>
          <h4>Budget: <%= gift.budget %></h4>
          <h4>Ideas: <%= gift.ideas %></h4>
          <div class="card-body">
          </div>
          <a href="/lists/<%= list.id %>/gifts/edit" class="btn btn-primary">Edit gift</a>

          <% }) %>
          <div class="card-body">
            <a href="/lists/<%= list.id %>/gifts/new" class="btn btn-primary">Add gift</a>
          </div>
          <div class="card-body">
            <a href="/lists" class="btn btn-primary">Back to lists</a>
            <a href="/lists/<%= list.id %>/edit" class="btn btn-primary">Edit list</a>

          </div>


          <% if(locals.isLoggedIn) { %>
            <form method="POST" action="/lists/<%= list.id %>">
            <input type="hidden" name="_method" value="DELETE">
            <button class="btn btn-primary">Delete list</button>
            </form>
            <% } %>


            <% list.comments.forEach((comment) => { %>
              <p><%= comment.content %></p>
              <small><%= comment.createdBy.username %></small>
              <% if(locals.isLoggedIn && comment.belongsTo(user)) { %>
                <form method="POST" action="/lists/<%= list.id %>/comments/<%= comment.id %>">
                <input type="hidden" name="_method" value="DELETE">
                <button>Delete</button>
                </form>
                <% } %>
                <% }) %>

                <% if(locals.isLoggedIn) { %>
                  <section>
                  <h4>Leave a comment</h4>
                  <form method="POST" action="/lists/<%= list.id %>/comments">
                  <textarea name="content" id="content" placeholder="Comment"></textarea>
                  <button class="button">Leave a comment</button>
                  </form>
                  </section>
                  <% } %>

                </div>
              </div>
            </div>
          </div>
