<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <form class="form-group" method="POST" action="/lists/<%= listId %>/gifts/<%= gift.id %>">
          <input type="hidden" name="_method" value="PUT">

          <div >
            <h4 class="card-header" for="name"><b>For: </b></h4>
            <input class="form-control" type="text" name="name" id="name" value="<%= gift.name %>">
          </div>
          <div>
            <br>
            <label for="age"><b>Age: </b></label>
            <input class="form-control" type="text" name="age" id="age" value="<%= gift.age %>">
          </div>
          <div>
            <br>
            <label for="interests"><b>Interests: </b></label>
            <input class="form-control" type="text" name="interests" id="interests" value="<%= gift.interests %>">
          </div>
          <div>
            <br>
            <label for="budget"><b>Budget: </b></label>
            <input class="form-control" type="text" name="budget" id="budget" value="<%= gift.budget %>">
          </div>
          <div>
            <br>
            <label for="ideas"><b>Ideas: </b></label>
            <input class="form-control" type="text" name="ideas" id="ideas" value="<%= gift.ideas %>">
          </div>
          <a href="/lists" class="btn btn-primary"><i class="fa fa-arrow-left" aria-hidden="true"></i> lists</a>
          <button class="btn btn-primary">Update</button>
          <form class="form-group" method="POST" action="/lists/<%= listId %>/gifts/<%= gift.id %>">
            <input class="btn btn-primary" type="hidden" name="_method" value="DELETE">
            <button class="btn btn-primary"><i class="fa fa-trash-o" aria-hidden="true"></i> delete</button>
          </form>
        </form>
      </div>
    </div>
  </div>

</div>
</div>
