<h1><%= gift.name %></h1>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card" style="width: 18rem;">
        <div class="card-body"
        <h4>Who for: <%= gift.name %></h4>
        <h4>Their age: <%= gift.age %></h4>
        <h4>Their interests: <%= gift.interests %></h4>
        <h4>Budget: <%= gift.budget %></h4>
        <h4>Ideas: <%= gift.ideas %></h4>
        <a href="/lists/<%= list.id %>/gifts/<%= gift.id %>/edit" class="btn btn-primary">edit gift</a>
        <button class="btn btn-primary" onclick="goBack()">back</button>
          <script>
            function goBack() {
              window.history.back();
            }
          </script>
        <form method="POST" action="/lists/<%= list.id %>">
        <input type="hidden" name="_method" value="DELETE">
        <button class="btn btn-primary">Delete gift</button>
        </form>
      </div>
    </div>
  </div>
</div>
