<div class="container">
  <div class="row">
    <div class="col-md-4">
      <div class="card">
        <h3 class="card-header">For: <%= gift.name %></h3>
        <p class="card-body"><b><ins>Their age:</ins></b><br><br> <%= gift.age %></p>
        <p class="card-body"><b><ins>Their interests:</ins></b><br><br> <%= gift.interests %></p>
        <p class="card-body"><b><ins>Budget:<ins></b><br><br> <%= gift.budget %></p>
        <p class="card-body"><b><ins>Ideas: <ins></b><br><br><%= gift.ideas %></p>
          <div class="card-footer">
            <a href="/lists/<%= list.id %>" class="btn btn-outline-primary" ><i class="fa fa-arrow-left" aria-hidden="true"></i> to list</a>

            <% if(locals.isLoggedIn && list.belongsTo(user)) { %>
              <a href="/lists/<%= list.id %>/gifts/<%= gift.id %>/edit" class="btn btn-outline-secondary"><i class="fa fa-pencil" aria-hidden="true"></i> edit gift</a>
              <form method="POST" action="/lists/<%= list.id %>">
              <input type="hidden" name="_method" value="DELETE">
              <br>
              <button class="btn btn-outline-danger"><i class="fa fa-trash-o" aria-hidden="true"></i>  delete gift</button>
              </form>
              <% } %>
            </div>
            </div>
          </div>
          <div class="col-md-4">
          </div>
          <div class="col-md-4">
            <div class="card">
              <section>
                <% if(locals.isLoggedIn) { %>
                <h3 class="card-header">Make a suggestion: </h3>
                <% list.comments.forEach((comment) => { %>
                    <p class="card-body"><b>Suggestion by:</b> <%= comment.createdBy.username %><br><br><%= comment.content %></p>
                    <% if(locals.isLoggedIn && comment.createdBy.id.toString() === locals.user._id.toString()) { %>
                      <form method="POST" action="/lists/<%= list.id %>/gifts/<%= gift.id %>/comments/<%= comment.id %>">
                      <input type="hidden" name="_method" value="DELETE">
                      <button class="btn btn-outline-danger">delete comment</button>
                      </form>
                    <% } %>
                <% }) %>
                <br>
                <br>
                <form class="form-group" method="POST" action="/lists/<%= list.id %>/gifts/<%= gift.id %>/comments/">
                  <textarea class="form-control" name="content" id="content" placeholder="Suggestion"></textarea>
                  <br>
                  <button class="btn btn-outline-success">add comment</button>
                </form>
              </section>
              <% } %>

                  </div>
                </div>
              </div>
            </div>
